src/app/colors/che-output-colors.constant.ts
src/app/colors/che-color.constant.ts
src/app/colors/codenvy-color.constant.ts
src/app/colors/template/
src/app/proxy/proxy-settings.constant.ts
src/app/proxy/template/
node_modules/
bower_components/
.sass-cache/
.tmp/
tmp
coverage
dist/
dll/

.idea/
*.iml
docs
/.settings/
/.project
/.tern-project

target/
uE001-README.MD
/typings/

# do NOT ignore webpack configs
!config/
