<div class="pf-c-form__group">
  <label ng-if="config.labelName"
    class="pf-c-form__label"
    ng-attr-for="{{config.id}}">
    <span class="pf-c-form__label-text">{{config.labelName}}</span>
    <span ng-if="config.required"
      class="pf-c-form__label-required"
      aria-hidden="true">&#42;</span>
  </label>
  <input class="pf-c-form-control"
    type="text"
    name="{{config.name}}"
    ng-model="ngModel"
    ng-change="ngChange({$value: ngModel})"
    ng-attr-id="{{config.id}}"
    ng-attr-pattern={{config.pattern}}
    ng-attr-placeholder="{{config.placeHolder}}"
    aria-invalid="   todoo   "
    aria-describedby="   todooo  help-text-simple-form-address-helper" />

  <p class="pf-c-form__helper-text pf-m-error"
    id="   todooo  help-text-simple-form-address-helper"
    aria-live="polite">
    This is helper text for an invalid input</p>

    <!-- <div ng-messages="myForm.inputName.$error" ng-transclude></div> -->

    <p class="pf-c-form__helper-text" id="help-text-simple-form-name-helper" aria-live="polite">This is helper text</p>

    <p class="pf-c-form__helper-text pf-m-error" id="help-text-simple-form-address-helper" aria-live="polite">This is helper text for an invalid input</p>

    <p class="pf-c-form__helper-text pf-m-success" id="help-text-simple-form-comment-help" aria-live="polite">This is helper text for success input</p>

</div>
