/* PatternFly style patch */

:root {
  --pf-global--FontFamily--heading--sans-serif: 'Open Sans'
  --pf-global--FontFamily--sans-serif: 'Open Sans'
}

.temporary-storage-tooltip
  vertical-align: middle

  i
    color: #737679
  i:hover
    color: #151515

// temporary style for debug purpose
.selected
  background-color #F2F7FD
  border-color $primary-color
